* {
  box-sizing: border-box;
  color: hsl(40, 50%, 80%);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 5rem auto;
  padding: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: hsl(200, 20%, 7%);
}

#board {
  position: relative;
}

h1 {
  font-size: 4rem;
}

.row {
  display: flex;
}

.tile {
  width: 60px;
  height: 60px;
  margin: 0.25rem;
  border: 2px solid hsla(40, 50%, 80%, 0.3);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.gray,
.green,
.yellow {
  border: none;
}

.gray {
  background-color: hsl(0, 0%, 50%);
}

.green {
  background-color: hsl(100, 30%, 50%);
}

.yellow {
  background-color: hsl(50, 60%, 50%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

input {
  text-align: center;
  padding-inline: 1rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  background-color: hsla(210, 10%, 60%);
  color: hsl(200, 20%, 7%);
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

button {
  font-weight: bold;
  padding: 0.75rem;
  background-color: hsl(210, 100%, 25%);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(210, 100%, 20%);
}

#alert-container {
  position: absolute;
  width: 100%;
  top: -10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.alert {
  padding: 1rem 2rem;
  color: white;
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, 0.3);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.show-alert {
  animation: show 0.5s ease forwards;
}

@keyframes show {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.hide-alert {
  animation: hide 0.5s ease forwards;
}

@keyframes hide {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translate(100%);
  }
}
